.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .profile {
    text-align: center;
    
    padding: 40px;
    border-radius: 10px;
    
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    animation: rotate 3s infinite;
  }
  
  @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .profile p {
    font-size: 18px;
    line-height: 1.6;
    color:white;
  }
  